<html>

<head>
    <title>{{ http_code }} {{ http_code_content }}</title>
    <link rel="icon" href="{{ url_for('static', path='img/Bond-Agent.ico') }}" type="image/x-icon" />
    <link rel="shortcut icon" href="{{ url_for('static', path='img/Bond-Agent.ico') }}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='css/exception_error.css') }}">
</head>

<body>
    <div>
        <div class="content-center">
            <div id="slideshow">
                <img class="fade-in" width="256" height="256"
                    data-src="{{ url_for('static', path='img/Bond-Agent.png') }}" alt="Image 1">
                <img class="fade-in" width="256" height="256"
                    data-src="{{ url_for('static', path='img/Bond-Agent-XP.png') }}" alt="Image 2">
                <img class="fade-in" width="256" height="256"
                    data-src="{{ url_for('static', path='img/Bond-Controller.png') }}" alt="Image 3">
                <img class="fade-in" width="256" height="256" data-src="{{ url_for('static', path='img/Bond.png') }}"
                    alt="Image 4">
            </div>
        </div>
        <div class="content-center">
            <h1 data-spotlight="{{ http_code }} {{ http_code_content }}">{{ http_code }} {{ http_code_content }}</h1>
        </div>
        <div class="http_code_description_box">
            <h4 class="readonly">{{ http_code_description }}</h4>
        </div>
        <div class="button-center">
            <a class="bond-Button" href="/" id="gohome"><b>HOME</b></a>
        </div>
    </div>
    <script type="text/javascript" src="{{ url_for('static', path='js/exception_error.js') }}"></script>
</body>

</html>