$font-family-base: Helvetica;
$primary-color: #fd5c5c;           // 亮紅
$secondary-color: #790c0c83;       // 淺紅，帶透明度
$tertiary-color: #4b0707c2;        // 更深的紅色，帶透明度
$highlight-color: rgb(255, 0, 0);  // 純紅
$button-bg-color: #FEB0B2;         // 按鈕背景顏色
$button-hover-border-color: #ff8d91; // 按鈕懸浮邊框顏色
$button-hover-color: #ff7479;        // 按鈕懸浮時字體顏色
